html,
body {
    height: 100%;
}

body {
    background-color: burlywood;
    width: 98%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

p {
    font-size: 20px;
}

.header {
    position: sticky;
    top: 0;
    flex: 0 0 auto;
    margin-bottom: 30px;
}

.header-nav {
    display: inline-flex;
    justify-content: space-between;
    width: 98%;
}

.rs-lang {
    width: 100px;
}

.theme {
    height: 60px;
    width: 60px;
    font-size: 35px;
}

.authorization {
    height: 60px;
    width: 60px;
    font-size: 40px;
}

.menu {
    height: 60px;
    width: 60px;
    padding-top: 25px;
    padding-right: 35px;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    top: 45%;
    margin-top: -1px;
    height: 2px;
    position: absolute;
    width: 30px;
    background-color: black;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
	align-items: center;
}

.menu-btn span::before {
	transform: translateY(-10px);
}

.menu-btn span::after {
	transform: translateY(10px);
}

.main {
    flex: 1 0 auto;
}

.information {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 1000px;
}

.information-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.more,
.start,
.video,
.about {
    display: flex;
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    position: sticky;
    bottom: 0px;
    z-index: 10;
}

.logo {
    width: 80px;
    height: 40px;
}

.footer-nav {
    width: 100%;
}

.header-link {
    text-decoration: none;
	color: black;
}

.book-title {
    display: flex;
    justify-content: center;
}

.book-nav {
    display: flex;
    justify-content: center;
	margin-bottom: 50px;
}

.book-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.elementary,
.pre-intermediate,
.intermediate,
.upper-intermediate,
.advanced,
.profiency {
    width: 300px;
    height: 100px;
}
